<%- include("partials/head")%>

<body>
    <%- include("partials/header")%>

    <main class="mt-5"> <!--Início do conteúdo principal-->
        <section> <!--Início da seção-->
            <div class="container"> <!--Início do container-->
                <div class="row"> <!--Início da linha-->
                    <div class="col-md-4"> <!--Início da primeira coluna-->
                        <a href="/api/admin/produtos">
                            <div class="card"> <!--Início do card-->
                                <div class="card-header">
                                    <h3 class="text-center text-white mb-0">Produtos</h3>
                                </div>
                            </div> <!--Fim do card-->
                        </a>
                    </div> <!--Fim da primeira coluna-->
                    <div class="col-md-4"> <!--Início da segunda coluna-->
                        <a href="/api/admin/lojas">
                            <div class="card"> <!--Início do card-->
                                <div class="card-header">
                                    <h3 class="text-center text-white mb-0">Lojas</h3>
                                </div>
                            </div> <!--Fim do card-->
                        </a>
                    </div> <!--Fim da segunda coluna-->
                    <div class="col-md-4"> <!--Início da terceira coluna-->
                        <a href="/api/admin/administradores">
                            <div class="card"> <!--Início do card-->
                                <div class="card-header">
                                    <h3 class="text-center text-white mb-0">Artesões</h3>
                                </div>
                            </div> <!--Fim do card-->
                        </a>
                    </div> <!--Fim da terceira coluna-->
                </div> <!--Fim da linha-->
            </div> <!--Fim do container-->
        </section> <!--Fim da seção-->
    </main> <!--Fim do conteúdo principal-->

</body>