<header> <!--Início do header-->
    <nav class="navbar navbar-expand-lg navbar-dark"> <!--Início da navegação-->
        <div class="container"> <!--Início do container-->
            
            <a href="#" class="navbar-brand"> <!--Início do título-->
                <h3>Vila do Artesão - ADMIN</h3>
            </a> <!--Fim do título-->

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavegacao" aria-controls="conteudoNavegacao" aria-expanded="false" aria-label="Toggle navigation"> <!--Início do botão de responsividade-->
                <span class="navbar-toggler-icon"></span>
            </button> <!--Fim do botão de responsividade-->

            <div class="collapse navbar-collapse" id="conteudoNavegacao"> <!--Início do conteúdo principal da navegação-->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="/api/admin/home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/api/admin/produtos" class="nav-link">Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a href="/api/admin/lojas" class="nav-link">Lojas</a>
                    </li>
                    <li class="nav-item">
                        <a href="/api/admin/administradores" class="nav-link">Artesão</a>
                    </li>
                    <li class="nav-item">
                        <a href="/api/admin/categorias/home" class="btn btn-danger ml-3">Logout</a>
                    </li>
                </ul>
            </div> <!--Fim do conteúdo principal da navegação-->
        </div> <!--Fim do container-->
    </nav> <!--Fim da navegação-->
</header> <!--Fim do header-->
